<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		.skystyle1{
			text-align:center;
			color:skyblue;
			} 
			
		.skystyle2{
			text-align:center;
			color:white;
			}
			
		body {
		background-color:#353535;
		background-image:url('D:/EclipseJavaPaul/SkyScanner_tequilacartel/WebContent/skyscanner_logo.png');
		background-repeat:no-repeat;
		background-position:right top;
		}
		
		div {background-color:dimgrey}
		
		
		</style> 
	</head>

	
	<body>
		<p class="skystyle1">Hello World!</p>
		<p class="skystyle2">This paragraph is not affected by the style.</p>
	</body>
</html>